{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Cafe Noctis</title>
  <link rel="stylesheet" href="{%static 'smart_restaurant/style.css'%}">
  <script src="{%static 'smart_restaurant/script.js'%}" defer></script>
  <link rel="shortcut icon" href="{%static 'smart_restaurant/assets/Cafe.png'%}" type="image/x-icon">
  <script>
    
  </script>
</head>
<body onload="replace()">
  <div class="wrapper">
    <div class="content_wrapper">
      <nav class="nav_left">
        <ul>
          <li>
            <a href="/" class="reset-a">
              <img src="{%static 'smart_restaurant/assets/Cafe.png'%}" alt="Cafe Logo" class="img small">
            </a>
          </li>
          <li class="small">
            <a href="/" class="reset-a">Cafe Noctis</a>
          </li>
          <li>
            <a href="./buynow.html" class="reset-a">
              <span class="open_cart">
                <span class="material-symbols-outlined">
                  shopping_cart
                </span>
                <span class="notif"></span>
              </span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="space"></div>
      <main class="main">

        <h1 class="title">You have <span class="how_much">0</span>
          <span class="item">items</span> in your cart
        </h1>

        <form method="post" action="{%url 'smart_restaurant:thanks'%}" id="main_form">
          {%csrf_token%}
          <input type="hidden" name="table_no" value="{{table_no}}">
          <section>
            {%for object in item_quantity%}
            <article class="food">
              <div class="food_type">
                {%if object.item.is_non_veg%}
                  <img src="{%static 'smart_restaurant/assets/NonVeg.png'%}" alt="">
                {%else%}
                  <img src="{%static 'smart_restaurant/assets/Veg.png'%}" alt="">
                {%endif%}
                {%if object.item.is_non_veg and object.item.contains_egg%}
                  <p class="smaller nonveg">{{object.item.item_type}}Egg</p>
                {%endif%}
              </div>
              <div class="details">
                <img
                  src="{{object.item.image_link}}"
                  alt="food" class="food_img">
                <div>
                  <p>{{object.item.name}}</p>
                  <p class="price">{{object.item.price}}₹</p>
                </div>
              </div>
              <div class="number">
                <span class="ctr minus">-</span>
                <input type="text" name="{{object.item.id}}" placeholder="add" title="food_counter" class="inp" value="{{object.quantity}}" />
                <span class="ctr plus">+</span>
              </div>
              </article>
              {%endfor%}
            </section>
            <h3 id="total_price" class="total"></h3>
          <div class="btn_wrapper">
            <button type="submit" class="btn btn_buy title"  id="buttonback" form="main_form" formaction="{%url 'smart_restaurant:menu'%}" value="Submit">
              Go Back
            </button>  
            <button type="submit" class="btn btn_buy title"  id="buttonorder" form="main_form" value="Submit">
              Order Now
            </button>  
            
          </div>
        </form>
        
      </main>
    </div>
  </div>
</body>

</html>